.masterPhoto {
  margin: 10px 5px 10px 5px;
  flex-basis: 24%;
}

.probeImage {
  max-width: 200px;
}

#masterPhotos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

iframe {
  border: none;
}